	.graph {
                width: 150px; /* width and height are arbitrary, just make sure the #bar styles are changed accordingly */
                height: 30px;
                border: 1px solid #888; 
                background: rgb(168,168,168);
                background: -moz-linear-gradient(top, rgba(168,168,168,1) 0%, rgba(204,204,204,1) 23%);
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(168,168,168,1)), color-stop(23%,rgba(204,204,204,1)));
                background: -webkit-linear-gradient(top, rgba(168,168,168,1) 0%,rgba(204,204,204,1) 23%);
                background: -o-linear-gradient(top, rgba(168,168,168,1) 0%,rgba(204,204,204,1) 23%);
                background: -ms-linear-gradient(top, rgba(168,168,168,1) 0%,rgba(204,204,204,1) 23%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8a8a8', endColorstr='#cccccc',GradientType=0 );
                background: linear-gradient(top, rgba(168,168,168,1) 0%,rgba(204,204,204,1) 23%);
                position: relative;
            }


  #bar-green {
                height: 29px; /* Not 30px because the 1px top-border brings it up to 30px to match #graph */
                background: rgb(0,255,0); 
                background: -moz-linear-gradient(top, rgba(255,197,120,1) 0%, rgba(244,128,38,1) 100%); 
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,197,120,1)), color-stop(100%,rgba(244,128,38,1))); 
                background: -webkit-linear-gradient(top, rgba(255,197,120,1) 0%,rgba(244,128,38,1) 100%); 
                background: -o-linear-gradient(top, rgba(255,197,120,1) 0%,rgba(244,128,38,1) 100%); 
                background: -ms-linear-gradient(top, rgba(255,197,120,1) 0%,rgba(244,128,38,1) 100%); 
                background: linear-gradient(top, rgba(255,197,120,1) 0%,rgba(244,128,38,1) 100%); 
                border-top: 1px solid #fceabb;
            }
  #bar-red {
                height: 29px; /* Not 30px because the 1px top-border brings it up to 30px to match #graph */
                background: rgb(255,0,0); 
                background: -moz-linear-gradient(top, rgba(255,197,120,1) 0%, rgba(244,128,38,1) 100%); 
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,197,120,1)), color-stop(100%,rgba(244,128,38,1))); 
                background: -webkit-linear-gradient(top, rgba(255,197,120,1) 0%,rgba(244,128,38,1) 100%); 
                background: -o-linear-gradient(top, rgba(255,197,120,1) 0%,rgba(244,128,38,1) 100%); 
                background: -ms-linear-gradient(top, rgba(255,197,120,1) 0%,rgba(244,128,38,1) 100%); 
                background: linear-gradient(top, rgba(255,197,120,1) 0%,rgba(244,128,38,1) 100%); 
                border-top: 1px solid #fceabb;
            }

            #bar {
                height: 29px; /* Not 30px because the 1px top-border brings it up to 30px to match #graph */
                background: rgb(255,197,120); 
                background: -moz-linear-gradient(top, rgba(255,197,120,1) 0%, rgba(244,128,38,1) 100%); 
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,197,120,1)), color-stop(100%,rgba(244,128,38,1))); 
                background: -webkit-linear-gradient(top, rgba(255,197,120,1) 0%,rgba(244,128,38,1) 100%); 
                background: -o-linear-gradient(top, rgba(255,197,120,1) 0%,rgba(244,128,38,1) 100%); 
                background: -ms-linear-gradient(top, rgba(255,197,120,1) 0%,rgba(244,128,38,1) 100%); 
                background: linear-gradient(top, rgba(255,197,120,1) 0%,rgba(244,128,38,1) 100%); 
                border-top: 1px solid #fceabb;
            }
            #bar p { position: absolute; text-align: center; width: 100%; margin: 0; line-height: 30px; }
            .error {
                /* These styles are arbitrary */
                background-color: #fceabb;
                padding: 1em;
                font-weight: bold;
                color: red;
                border: 1px solid red;
            }
  #bar-red p { position: absolute; text-align: center; width: 100%; margin: 0; line-height: 30px; }
            .error {
                /* These styles are arbitrary */
                background-color: #fceabb;
                padding: 1em;
                font-weight: bold;
                color: white;
                border: 1px solid red;
            }

  #bar-green p { position: absolute; text-align: center; width: 100%; margin: 0; line-height: 30px; }
            .error {
                /* These styles are arbitrary */
                background-color: #fceabb;
                padding: 1em;
                font-weight: bold;
                color: white;
                border: 1px solid red;
            }

